{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
<!--  {% block style %}
  <style type=text/css>
  #navbutton-RESUME{background-color:khaki;} #navbutton-RESUME:hover{background-color: darkkhaki;opacity:.8;}
  #navbutton-PROJECTS:hover{background-color: darkslateblue;opacity:.8;}
  #navbutton-ABOUT:hover{background-color: darkred;opacity:.8;}
  </style>
  {% endblock %}-->
{% endblock %}
{% block content %}
  <h1 class="resume">RESUME</h1>
{% endblock %}
