<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prisoner's Dilemma</title>
    <link rel="icon" href="#" />

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="{{ url_for('static',filename='settings.js') }}"></script>

  </head>
  <body>
    HELLO!!!!
  </body>
</html>
